.lessonTitleInput {
  margin-top: 0.4rem;
}

.buttonBar {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.buttonBar button:not(:first-child) {
  margin-left: 0.6rem;
}

.checkbox {
  display: inline;
  width: auto;
}

.lessonItem {
  padding: 0.2rem 1rem 0.2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.headerTitle {
  width: 25rem;
  font-size: 2.1rem;
}
.colTitle {
  width: 25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.headerPublished {
  width: 4rem;
  font-size: 2.1rem;
}
.colPublished {
  width: 4rem;
}

.headerLastUpdated {
  font-size: 2.1rem;
  width: 22rem;
}
.colLastUpdated {
  font-size: 1.5rem;
  font-style: italic;
  width: 22rem;
}

.headerCreated {
  font-size: 2.1rem;
  width: 22rem;
}
.colCreated {
  font-size: 1.5rem;
  font-style: italic;
  width: 22rem;
}

.weakText {
  color: grey;
}
